{% extends "base.html" %}
{% block html %}
    <html id="main">
{% endblock %}
{% block title %}
    <title> Guitar Chords </title>
{% endblock %}

{% block meta %}
    <meta name="description" content="This page contains guitar chords for gospel or christian songs">
    <meta name="keywords" content="Chords for Gospel songs, chords for christian songs, guitar chords for gospel songs, latest chiristian song guitar chords">
    <meta name="robots" content="all">
{% endblock %}

{% block body %}
    <body  id="main">
{% endblock %}
{% block content %}
    <div class="jumbotron1">
	<div class="jumbotron1_sub">
		<p><strong>CHOOSE FROM THE LIST OF GOSPEL SONGS BELOW</strong></p>
		<div class = "searchbar">
			<form method="get" action="/search" id="search1">
				<input name="q" type="text" size="40" placeholder="Search chords..." />
			</form>
		</div>
	</div>
	</div>
	<div class = "songcontent_new">
	<div class = "alphabetical_order">
	<h5> Filter by Artist or Album name</h5>
	<ul class = "pull-middle">
		{% for d in alpha %}
			<li><a href="/gospel_alpha_page/{{d}}">{{d}}</a></li>
		{% endfor %}


		</ul>
</div>

		<div class = "songcontent_data">

			<p> List of Songs from <strong>[{{albumname|upper}}]</strong>...</p>
			{% if song_name %}
					<ul>
						{% for d,e in song_name %}
							<li><a id = {{d}} alt={{d|slugify }} href ="/gospel_guitarchords/{{d}}" class = "click" >{{d}}; &nbsp; views({{e}})</a> </li>
						{% endfor %}
					</ul><br>
			{% else %}
				<p> &#9785 , No Results Found </p>
			{% endif %}
		</div><br><br>


	</div>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}