{% extends "base.html" %}
{% block html %}
    <html id="main">
{% endblock %}
{% block title %}
    <title> {{songname|cut:"['"|cut:"']"|truncatechars:44}} guitar chords </title>
{% endblock %}

{% block meta %}
    <meta name="description" content="This page is contains gospel guitar chords">
    <meta name="keywords" content="{{songname}} guitar chords, guitar chords for {{songname}} , chords for {{songname}}">
    <meta name="robots" content="all">
{% endblock %}

{% block body %}
    <body  id="main">
{% endblock %}
{% block content %}
    <div class="jumbotron1">
	<div class="jumbotron1_sub">
	<p><strong>Enjoy playing "{{songname|cut:"['"|cut:"']"|truncatechars:44}} " </strong></p>
		<div class = "searchbar">
			<form method="get" action="/search" id="search1">
				<input name="q" type="text" size="40" placeholder="Search chords..." />
			</form>
		</div>
	</div>
	</div>
	<div class="songcontent_format">
	<div class = "songcontent_det">
	    <pre>
	    <p>{{chords|safeseq|join:"\n "}}</p>
	    </pre><br>

	</div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}