<html>
<title> Guitar Chords </title>
{% load staticfiles %}

<head>
		<meta name="description" content="This page is about France, with particular emphasis on baguettes">

<meta name="keywords" content="Chords for Gospel songs, chords for christian songs, popular gospel songs chords, popular guitar chords for gospel songs">

<meta name="robots" content="all">

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'>
<link href="/static/style.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.js"></script>
   <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>

    <script type="text/javascript" src="/static/app.js"></script>
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">

</head>
<body>
<div class="nav">

		<!-- Menu icon -->
		<!--div class="icon-close"-->
		<!--img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png"-->
		<!--/div-->

		<!-- Menu -->

		<ul>
		<ul class = "pull-left">
		<li> <a href = "/home/">Logo The Guitar Club</a></li>
		</ul>
		<ul class = "pull-right">
		<li><a href="/home/">Home</a></li>
		<li><a href = "/learn_guitar/">Learn Guitar</a></li>
		<li><a href="/guitar_chords/">Guitar Chords</a></li>
		<li><a href="/gospel_guitar_page/">Gospel Guitar Chords</a></li>
		<li><a href="/upload_guitar_chords/">Upload Guitar Chords</a></li>
		<li><a href="#">Your Guitar Club</a></li>
		<li><a href="#">Contact</a></li>
		</ul>
		</ul>
	</div>
	<div class="jumbotron1">
		<div class = "searchbar">
			<form method="get" action="/search" id="search1">
				<input name="q" type="text" size="40" placeholder="Search chords..." />
			</form>
		</div>
		<p><strong>CHOOSE FROM THE LIST OF GOSPEL SONGS BELOW</strong></p>
	</div>
	<div class = "songcontent_new">
	<div class = "alphabetical_order">
	<h5> Filter by Artist or Album name </h5>
	<ul class = "pull-middle">
		{% for d in alpha %}
			<li><a href="/gospel_alpha_page/{{d}}">{{d}}</a></li>
		{% endfor %}


		</ul>
</div>

		<div class = "songcontent_english">

			<p> List of English Song Chords...</p>
			{% if songname_e %}
					<ul>
						{% for d in songname_e %}
							<li><a id = {{d}} alt={{d|slugify }} href ="/gospel_guitarchords/{{d}}" class = "click" >{{d}}</a> </li>
						{% endfor %}
					</ul><br>
			{% else %}
				<p> ':( , No Results Found' </p>
			{% endif %}
		</div><br></br>
		<div class = "songcontent_hindi">
			<p> List of Hindi Song Chords...</p>
				{% if songname_h %}
						<ul>
							{% for d in songname_h %}
								<li><a id = {{d}} alt={{d|slugify }} href ="/gospel_guitarchords/{{d}}" class = "click" >{{d}}</a> </li>
							{% endfor %}
						</ul><br>
				{% else %}
					<p> &#9785, No Results Found </p>
				{% endif %}
		</div><br><br>
		<div class = "songcontent_regional">
			<p> List of Regional Song Chords...</p>
				{% if songname_r %}
						<ul>
							{% for d in songname_r %}
								<li><a id = {{d}} alt={{d|slugify }} href ="/gospel_guitarchords/{{d}}" class = "click" >{{d}}</a> </li>
							{% endfor %}
						</ul><br>
				{% else %}
					<p> &#9785 , No Results Found </p>
				{% endif %}
		</div>

	</div>
<div class = "footer">
	      <h3 class="float">&copy; 2014-15 The Guitar Club. All rights reserved.</h3>
	  <h5>Contact US</h5>
       <div id="footer_address">
        <p>Registered Office:<br/>
        Bangalore, Karnataka, <br/>
        India<br/>
        (not our trading address)</p>
      </div>

      <div class="footer-nav">
        <ul class = "pull-right">
          <li><a href="/home/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Software</a></li>
          <li><a href="#">Cookie Policy</a></li>
        </ul>
      </div>

</div>


</body>



	</html>