<html>
<title> Guitar Chords </title>
{% load staticfiles %}

<head>

<meta name="description" content="This page is about France, with particular emphasis on baguettes">

<meta name="keywords" content="How to play guitar, Learn to play guitar, learn to play guitar chords, how to play guitar chords, how to play F chord, how to play G chord, how to play A chord, how to play B chord, how to play D chord">

<meta name="robots" content="all">

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'>
<link href="/static/style.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.js"></script>
   <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
 
    <script type="text/javascript" src="/static/app.js"></script>
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">

</head>  
<body>    
<div class="nav">

	<!-- Menu -->

		<ul>
		<ul class = "pull-left">
		<li> <a href = "/catalog/">Logo The Guitar Club</a></li>
		</ul>
		<ul class = "pull-right">
		<li><a href="/catalog/">Home</a></li>
		<li><a href = "/learn_guitar/">Learn Guitar</a></li>
		<li><a href="/guitar_chords/">Guitar Chords</a></li>
		<li><a href="/gospel_guitar_page/">Gospel Guitar Chords</a></li>
		<li><a href="/upload_guitar_chords/">Upload Guitar Chords</a></li>
		<li><a href="#">Your Guitar Club</a></li>
		<li><a href="#">Contact</a></li>
		</ul>
		</ul>
	</div>
	<div class="jumbotron1">
		<div class = "searchbar">
			<form method="get" action="/search" id="search1">
				<input name="q" type="text" size="40" placeholder="Search chords..." />
			</form>
		</div>

		<p><strong>Get Started, lets break some strings :) </strong></p>
	</div>
	<div class = "subcontent_all">
		<div class ="dont_move">
	<div class = "sidemenu">
		
        
        <ul id="level-one"> 
			<li id="menu">
				MENU
			</li><br>
			<li id="level-two">  
				<ul id="level-two" >
				<li><a href ="/learn_guitar/">Learn Guitar From Basics</a></li>
				<li><a href="/learn_guitar_chords/">Learn Guitar Chords</a></li>
				<li><a href="/learn_more_guitar_chords/">Learn More Guitar Chords</a></li>
				<li><a href="/video_guitar_lessons/">Video Guitar Lessons</a></li>
				</ul>
			</li>	
		</ul>
	</div>
</div>
	
	<div class = "subcontent_lg">
		<div class = "learn_guitar">
		<h3> Learning More Chords </h3>
			<div style="text-align: center"><img src="/static/Play-GC-Step-5.png" alt="some_text" align="middle"></div><br>
			<p>Expand your musical vocabulary. Playing a C chord is nice, and it's definitely a gateway chord that will lead you into more interesting musical territory, but there's much more to music than that! Here are two other chords commonly used when playing in C Major. F, and G. Play a basic F chord like this:

    <li>The notes in an F chord are F, A, and C. Note that the F and the C are being played by the same finger: the first finger is placed across the 1st fret of both the 1st and 2nd strings.</li>
    <li>Generally, chords are built so that the lowest note is the root of the chord, but in this case, the F is being sounded on the 1st fret of the 1st string. This is called an "inversion."</li>
</p>
<div style="text-align: center"><img src="/static/Play-GC-Step-6.png" alt="some_text" align="middle"></div><br>
<p>Extend the F chord. You can a an F in the root by playing the F on the D string: the 3rd fret up, played with your third finger. You may notice the chord doesn't sound a lot different, just "fuller." </p>
<div style="text-align: center"><img src="/static/Play-GC-Step-7.png" alt="some_text" align="middle"></div><br>
<p>Play a G chord. Like the C and the F, the G chord is one of the Big Three in the C major scale. There are many ways to play it, and we'll show you two. The first way is easy: it's the exact same fingering as the extended F chord, only moved up two frets:</p>
<div style="text-align: center"><img src="/static/Play-GC-Step-8.png" alt="some_text" align="middle"></div><br>
<p>Play the G chord the easy way. Here's a way to play the G chord with only one finger: </p>
<div style="text-align: center"><img src="/static/Play-GC-Step-9.png" alt="some_text" align="middle"></div><br>
<p>Learn the key of E. There's a lot of rock 'n' roll done in the key of E, and a lot of blues, too. The three chords to learn here are E Maj (I), A Maj (IV), and B Maj (V). Here's the E chord:

  <li>  This is one of the easier chords to play, once you have your calluses built up. You can play all the strings at once. Crank up a Marshall stack to 11 with this chord, hit it hard, and you'll feel the beginnings of being a rock hero!</li>
  </p>
  <div style="text-align: center"><img src="/static/Play-GC-Step-10.png" alt="some_text" align="middle"></div><br>
<p>Play the A Major. This is another "big chord," sonically. There are several ways to play this. You can use one finger across the 2nd fret of the B, G, and D strings (playing C#, A, and E, respectively), or any other combination of fingers. For this example, we'll use the 4th finger on the B string, 3rd finger on the G string, and 2nd finger on the D string.

   <li> As you get better at playing, you will understand that moving quickly from one chord to another sometimes results in odd fingerings that still work. The key is to make the most efficient use of your fingers, and once you kick off the training wheels, don't be afraid to experiment.</li>
</p>
  <div style="text-align: center"><img src="/static/Play-GC-Step-11.png" alt="some_text" align="middle"></div><br>
<p>Play the B Major. You can play this one easy, or play this one hard. The easy way is shown with the black numbers. You can add the additional note, show by the gray number. </p>
<div style="text-align: center"><img src="/static/Play-GC-Step-12.png" alt="some_text" align="middle"></div><br>
<p>Learn the key of A. You're already two thirds of the way there! The key of A consists of A in the first position (I), D in the fourth position (IV), and our old powerhouse friend E in the dominant fifth position (V). Here's how to play the D chord:

<li>    Note the first finger across the first three strings: this is the beginning of a "barre" chord. A full barre chord uses one finger across all strings, and is often based on the basic forms shown in this article.</li></p>
<div style="text-align: center"><img src="/static/Play-GC-Step-13.png" alt="some_text" align="middle"></div><br>
<p>Learn an alternate version of the A chord. This is useful when played along with the D and the E chords:</p><br>


<h4> Check out <a href = "/learn_more_guitar_chords/">"Learn More Guitar Chords"</a> for more chords... </h4>
</div>
		</div>
	</div>
	<div class = "footer">
	      <h3 class="float">&copy; 2014-15 The Guitar Club. All rights reserved.</h3>
	  <h5>Contact US</h5>
       <div id="footer_address">
        <p>Registered Office:<br/>
        Level Two, The Old Malthouse, <br/>
        Clarence St,<br/>
        Bath BA1 5NS (not our trading address)</p>
      </div>
      
      <div class="footer-nav">
        <ul class = "pull-right">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/software">Software</a></li>
          <li><a href="/docs/cookies">Cookie Policy</a></li>
        </ul>
      </div>
      
</div>
	</body>

</html>