{% extends "base.html" %}
{% block html %}
    <html id="main">
{% endblock %}
{% block title %}
    <title> Learn More Guitar Chords </title>
{% endblock %}
{% block meta %}
    <meta name="description" content="Guitar Club - Helps you in learning guitar chords">
    <meta name="keywords" content="How to play guitar, Learn to play guitar, learn to play guitar chords, how to play guitar chords, chord charts">
    <meta name="robots" content="all">
{% endblock %}
{% block fbmeta %}
    <meta property="og:title" content="Learn More Guitar Chords"/>
    <meta property="og:type" content="Guitar Chords"/>
    <meta property="og:url" content="http://www.guitarclub.in"/>
    <meta property="og:image" content="/static/chords-a.png"/>
    <meta property="og:site_name" content="GuitarClub"/>
    <meta property="fb:admins" content="1087413090"/>
    <meta property="og:description"
          content="Guitar Club - Helps you in learning guitar chords"/>
{% endblock %}
{% block body %}
    <body  id="main">
{% endblock %}
{% block content %}
    <div class="jumbotron1">
	<div class="jumbotron1_sub">
	<p><strong>Get Started, lets break some strings :) </strong></p>
		<div class = "searchbar">
			<form method="get" action="/search" id="search1">
				<input name="q" type="text" size="40" placeholder="Search chords..." />
			</form>
		</div>
    </div>
    </div>
	<div class = "subcontent_all">
	<div class ="dont_move">
	    <ul id="level-one">
			<li id="menu">
				MENU
			</li><br>
			<li id="level-two">
				<ul id="level-two" >
				<li><a href ="/learn_guitar/">Learn Guitar From Basics</a></li>
				<li><a href="/learn_guitar_chords/">Learn Guitar Chords</a></li>
				<li><a href="/learn_more_guitar_chords/">Learn More Guitar Chords</a></li>
				<li><a href="/video_guitar_lessons/">Video Guitar Lessons</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class = "learn_more_guitar">
		<h3> Find all the Guitar Chords here... </h3><br>
			<div style="text-align: center"><img src="/static/chords-a.png" alt="some_text" align="middle"></div>
			<div style="text-align: center"><img src="/static/chords-b.png" alt="some_text" align="middle"></div>
			<div style="text-align: center"><img src="/static/chords-c.png" alt="some_text" align="middle"></div>
            <div style="text-align: center"><img src="/static/chords-d.png" alt="some_text" align="middle"></div>
            <div style="text-align: center"><img src="/static/chords-e.png" alt="some_text" align="middle"></div>
            <div style="text-align: center"><img src="/static/chords-f.png" alt="some_text" align="middle"></div>
            <div style="text-align: center"><img src="/static/chords-g.png" alt="some_text" align="middle"></div>


	</div>
<div class = "google_ads6">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- learn_more_guitarchords_g2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:225px;height:600px"
     data-ad-client="ca-pub-2337874901791776"
     data-ad-slot="3950632249"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	</div>
	</div>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class = google_ads_hz>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- google_ads_learn_gmc_hz -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-2337874901791776"
     data-ad-slot="5167962645"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</div>
{% endblock %}