<html>
<title> Guitar Chords </title>
{% load staticfiles %}

<head>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'>
<link href="/static/style.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.js"></script>
   <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>

    <script type="text/javascript" src="/static/app.js"></script>
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">

</head>
<div class="nav">

		<!-- Menu icon -->
		<!--div class="icon-close"-->
		<!--img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png"-->
		<!--/div-->

		<!-- Menu -->

		<ul>
		<ul class = "pull-left">
		<li> <a href = "/home/">Logo The Guitar Club</a></li>
		</ul>
		<ul class = "pull-right">
		<li><a href="/home/">Home</a></li>
		<li><a href = "/learn_guitar/">Learn Guitar</a></li>
		<li><a href="/guitar_chords/">Guitar Chords</a></li>
		<li><a href="/gospel_guitar_page/">Gospel Guitar Chords</a></li>
		<li><a href="/upload_guitar_chords/">Upload Guitar Chords</a></li>
		<li><a href="#">Your Guitar Club</a></li>
		<li><a href="#">Contact</a></li>
		</ul>
		</ul>
	</div>
	<div class="jumbotron1">
		<div class = "searchbar">
			<form method="get" action="/search" id="search1">
				<input name="q" type="text" size="40" placeholder="Search chords..." />
			</form>
		</div>
		<body>
		<p><strong>Get Started, lets break some strings :) </strong></p>
	</div>
	<div class = "subcontent_all">

	<div class = "sidemenu">

		<a href ="/learn_guitar/">Learn Guitar From Basics</a><br><br>
		<a href="/learn_guitar_chords/">Learn Guitar Chords</a><br><br>
		<a href="/learn_more_guitar_chords/">Learn More Guitar Chords</a><br><br>
		<a href="/video_guitar_lessons/">Video Guitar Lessons</a><br><br>


	</div>

	<div class = "subcontent_lg">
		<div class = "learn_guitar">
		<h4>PLAYING EXERCISE FOR BEGINNERS </h4>
		<h6> use the playlist option on the video to get access to more videos <h6> <br>

		<iframe width="560" height="315" src="//www.youtube.com/embed/vSakoBvdIvU?list=RDvSakoBvdIvU" frameborder="0" allowfullscreen align = "middle"></iframe>

		<br> <br>
		<h3> Guitar Scales with Rob </h3>
		<h6> use the playlist option on the video to get access to more videos from Rob<h6> <br>
		<iframe width="560" height="315" src="//www.youtube.com/embed/O3foklwyolg?list=RDOMef1ginZLM" frameborder="0" allowfullscreen align="middle"></iframe>
	</div>
		</div>
	</div>

	</body>

</html>