{% extends "base.html" %}
{% block html %}
    <html id="main">
{% endblock %}
{% block title %}
    <title> Learn Guitar </title>
{% endblock %}

{% block meta %}
    <meta name="description" content="This page is contains details about guitar lessons">
    <meta name="keywords" content="How to play guitar, Learn to play guitar, learn to play guitar chords, how to play guitar chords, how to play c chord">
    <meta name="robots" content="all">
{% endblock %}

{% block body %}
    <body  id="main">
{% endblock %}
{% block content %}
    <div class="jumbotron1">
        <div class="jumbotron1_sub">
    		<p><strong>Get Started, lets break some strings :) </strong></p>
    		<div class = "searchbar">
    			<form method="get" action="/search" id="search1">
    				<input name="q" type="text" size="40" placeholder="Search chords..." />
    			</form>
    		</div>
		</div>
	</div>
	<div class = "subcontent_all">
    	<div class ="dont_move">
    	        <ul id="level-one">
    			<li id="menu">MENU</li><br>
    			<li id="level-two">
    				<ul id="level-two" >
    				<li><a href ="/learn_guitar/">Learn Guitar From Basics</a></li>
    				<li><a href="/learn_guitar_chords/">Learn Guitar Chords</a></li>
    				<li><a href="/learn_more_guitar_chords/">Learn More Guitar Chords</a></li>
    				<li><a href="/video_guitar_lessons/">Video Guitar Lessons</a></li>
    				</ul>
    			</li>
    		    </ul>
    	</div>
    <div class = "learn_guitar">
		<h3> Understanding the Guitar Chords</h3>
			<div style="text-align: center"><img src="/static/Play-GC-Step-1.png" alt="some_text" align="middle"></div><br>
			<p>Learn the strings. The best way to start is by becoming familiar with the strings on your guitar and how they relate to your fingers. To make this easier, we're going to number them both. The strings on your guitar are numbered like this:
                <li> Vertically, the strings are numbered 1 through 6, from highest pitch to lowest.</li>
                <li>Horizontally, the numbering is based on the fret positions.</li>
                <li>Note that when the directions say "put your first finger on the 3rd fret," that means you actually place your finger between the 2nd and 3rd fret. It's the string itself that needs to be in contact with the 3rd fret.</li>
            </p>

	    <div style="text-align: center"><img src="/static/Play-GC-Step-2.png" alt="some_text" align="middle"></div><br>
	    <p>
	    Number your fingers. Take a look at your left hand, and imagine you have numbers stamped on your fingers.
	    Your index is 1, your middle finger is 2, your ring finger is 3, and your pinky finger is 4.
	    Your thumb we will call "T," but you will not be using it for chords in this article.
	    </p>
	    <div style="text-align: center"><img src="/static/Play-GC-Step-3.png" alt="some_text" align="middle"></div><br>
	    <p>
	    Learn the C chord. The first chord we will cover is a C chord—one of the most basic chords in music.
	    Before we do, let's break down just what that means.
	    A proper chord, whether played on a piano, a guitar, or sung by well-trained mice, is simply three or more notes sounded together.
	    (Two notes is called a "diad," and while musically useful, is not a chord.) Chords can also contain far more than three notes,
	    but that's well beyond the scope of this article. This is what a C chord looks like on the guitar:
            <li>The lowest note is the 3rd fret of the A string: C</li>
            <li>The next note up is played on the 2nd fret of the D string: E</li>
            <li>Note there is no finger on the G string. This string remains "open" when strumming a C.</li>
            <li>The highest note is played on the 1st fret of the B string: C</li>
            <li>The highest and lowest strings on the guitar are not played for the basic C major chord.</li>
        </p>
	    <div style="text-align: center"><img src="/static/Play-GC-Step-4.png" alt="some_text" align="middle"></div><br>
	    <p>
	    Try it out the notes. Play each note note in the chord, from low to high, one at a time.
	    Take your time and be deliberate: press down firmly on the fret, and pluck the string.
	    Let the note ring for as long as you can, then move to the next note:
            <li>Press your 3rd finger onto the 3rd fret of the A string, as indicated above, pluck,
            and let it ring until it fades out. You just played a C note.</li>
            <li>Press your 2nd finger onto the 2nd fret of the D string, then do the pluck-and-ring to play an E.</li>
            <li>Break time! Simply pluck the open, un-fingered G string.</li>
            <li>Press your 1st finger on the 1st fret of the B string, and let that C note sound loud!</li>
            <li>Play the notes, one at a time, for a few times. When you're ready, sweep your pick or fingers across all four middle strings quickly.
            You've just played a C chord!</li>
            <li>It may sting a little the first few times you do it, but as you develop calluses, the pain goes away.</li>
        </p>
		<br><br>
	    <h4>Check out <a href = "/learn_guitar_chords/" >"Learn Guitar Chords"</a> for more lessons on chords...<h4>
	</div>
 <div class = "google_ads_vt1">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- google_ads_4_lg -->
<ins class="adsbygoogle"
     style="display:inline-block;width:200px;height:600px"
     data-ad-client="ca-pub-2337874901791776"
     data-ad-slot="4105409449"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	</div>

	</div>
<br><br><br>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <div class = google_ads_hz>
        <!-- google_ads_learn_guitar_hz -->
        <ins class="adsbygoogle"
        style="display:inline-block;width:728px;height:90px"
        data-ad-client="ca-pub-2337874901791776"
        data-ad-slot="7878070246"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
{% endblock %}