{% extends "base.html" %}
{% block html %}
    <html id="chris">
{% endblock %}
{% block title %}
    <title> Video Guitar Lessons </title>
{% endblock %}

{% block meta %}
    <meta charset="utf-8" />
    <meta name="description" content="Learn to play Jingle Bells on guitar with video tutorials this christmas">
    <meta name="keywords" content="how to play jingle bells on guitar, how to play we wish you a merry christmas on guitar, how to play slient night on guitar, how to play christmas songs on guitar, how to play christmas carols on guitar, how to play joy to the world on guitar , how to play let it snow let it snow on guitar" >
    <meta name="robots" content="all">
{% endblock %}

{% block fbmeta %}
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="LEARN TO PLAY CHRISTMAS CAROL - JOY TO THE WORLD ON GUITAR"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.guitarclub.in/merry_xmas"/>
    <meta property="og:image" content="http://www.guitarclub.in/static/fb_post_7.jpg"/>
    <meta property="og:site_name" content="GuitarClub"/>
    <meta property="fb:admins" content="1087413090"/>
    <meta property="og:description"
    content="Welcome to THE GUITAR CLUB - A virtual world for all the guitar lovers. Learn to play JOY TO THE WORLD on guitar with video tutorials this christmas"/>
{% endblock %}


{% block body %}
    <body id="chris">
{% endblock %}
{% block content %}
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="jumbotron1_chris">
	<div class="jumbotron1_sub">
	<p><strong>POPULAR CHRISTMAS CAROLS...  </strong></p>

	</div>
	<div class="fb-share-button" data-href="http://www.guitarclub.in/merry_xmas/" data-layout="button_count"></div>
	</div>

<div class = "subcontent_all">
	<div class ="dont_move">
	    <ul id="level-one">
			<li id="menu">
				MENU
			</li><br>
			<li id="level-two">
				<ul id="level-two" >
				<li><a href ="/learn_guitar/">Learn Guitar From Basics</a></li>
				<li><a href="/learn_guitar_chords/">Learn Guitar Chords</a></li>
				<li><a href="/learn_more_guitar_chords/">Learn More Guitar Chords</a></li>
				<li><a href="/video_guitar_lessons/">Video Guitar Lessons</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<div class = "learn_guitar_chris">
		<div class = "searchbar_vs">
			<form method="get" action="/video_search" id="search1_v">
				<input name="q" type="text" size="300" placeholder="search to play your favourite carols, e.g. jingle bells" />
			</form>
		</div><br><br>
        <h2>LEARN TO PLAY JINGLE BELLS ON GUITAR </h2>
		<div class="ifr">
		<iframe width="560" height="315" src="//www.youtube.com/embed/gfvBZfdDIvs" frameborder="0" allowfullscreen></iframe>
		</div>
		<br> <br>
		<h2>JINGLE BELLS BY SUNGHAJUNG </h2>
		<div class="ifr">
		<iframe width="560" height="315" src="//www.youtube.com/embed/_trAhyhvFzo" frameborder="0" allowfullscreen></iframe>
		</div>
		<br> <br>
		<h2> LEARN TO PLAY WE WISH YOU A MERRY CHRISTMAS ON GUITAR </h2>
		<div class="ifr">
		<iframe width="560" height="315" src="//www.youtube.com/embed/WjRQ-0o_Sss" frameborder="0" allowfullscreen></iframe>
		</div>
		<br><br>
		<h2> LEARN TO PLAY SLIENT NIGHT ON GUITAR </h2>
		<div class="ifr">
		<iframe width="560" height="315" src="//www.youtube.com/embed/8taGBP3yCDw" frameborder="0" allowfullscreen></iframe>
		</div>
		<br><br>
		<h2> LEARN TO PLAY SANTA CLAUS IS COMING TO TOWN ON GUITAR </h2>
		<div class="ifr">
		<iframe width="560" height="315" src="//www.youtube.com/embed/X7oPXZ7jzAI" frameborder="0" allowfullscreen></iframe>
		</div>
		<br><br>
		<h2> LEARN TO PLAY LET IT SNOW, LET IT SNOW ON GUITAR </h2>
		<div class="ifr">
		<iframe width="560" height="315" src="//www.youtube.com/embed/EqSrv_y35Uc" frameborder="0" allowfullscreen></iframe>
		</div>
		<br><br>
		<h2> LEARN TO PLAY IT'S THE MOST WONDERFUL TIME OF THE YEAR ON GUITAR </h2>
		<div class="ifr">
		<iframe width="560" height="315" src="//www.youtube.com/embed/xzTloW2Iw0g" frameborder="0" allowfullscreen></iframe>
		</div>
		<br><br>
		<h2> LEARN TO PLAY JOY TO THE WORLD ON GUITAR </h2>
		<div class="ifr">
		<iframe width="560" height="315" src="//www.youtube.com/embed/rAv5DWr1z0k" frameborder="0" allowfullscreen></iframe>
		</div>
		<br><br>


		<br>
	</div>
	</div>
{% endblock %}