<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<title> Guitar Chords </title>
{% load staticfiles %}

<head>
<meta name="robots" content="NONE,NOARCHIVE" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'>
<link href="/static/style.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.js"></script>
   <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>

    <script type="text/javascript" src="/static/app.js"></script>
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
     <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56999478-1', 'auto');
  ga('send', 'pageview');

</script>

<link rel="stylesheet" href="/resources/demos/style.css">
<script>
$(function() {
$( "#datepicker" ).datepicker();
});
</script>

</head>
<body>
<div class="nav">

		<!-- Menu icon -->
		<!--div class="icon-close"-->
		<!--img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png"-->
		<!--/div-->

		<!-- Menu -->

		<ul>
		<ul class = "pull-left">
		<li class = "pad"> <a href = "/home/">Logo The Guitar Club</a></li>
		</ul>
		<ul class = "pull-right">
		<li class = "pad"><a href="/home/">Home</a></li>
		<li class = "pad"><a href = "/learn_guitar/">Learn Guitar</a></li>
		<li class = "pad"><a href="/guitar_chords/">Guitar Chords</a></li>
		<li class = "pad"><a href="/gospel_guitar_page/">Gospel Guitar Chords</a></li>
		<li class = "pad"><a href="#">Your Guitar Club</a></li>
		<li class = "pad"><a href="#">Contact</a></li>
		</ul>
		</ul>
	</div>
	<div class="jumbotron1">
		<div class = "searchbar">
			<form method="get" action="/search" id="search1">
				<input name="q" type="text" size="40" placeholder="Search chords..." />
			</form>
		</div>
		<p><strong>UPLOAD YOUR FAVOURITE SONGS/CHORDS HERE  </strong></p>
	</div>
	<div class = "songcontent_new_ug">
	<div class = "subcontent_upload">
	<br>

	<form name="htmlform" method="post" action="/capture_guitar_chords/">{%csrf_token%}
<label for="datepicker">Song Release Date* :</label>
<input type="text" id="datepicker" name = "datepicker">
<label for="song_name">Song Name* :</label>
<input  type="text" name="song_name" maxlength="80" size="30"><br>
<label for="albumname">Album/Movie Name* :</label>
<input  type="text" name="albumname" maxlength="80" size="30"><br>
<label for="artist_name">Artist Name* :</label>
<input  type="text" name="artist_name" maxlength="80" size="30"><br>
<label for="language">Language* :</label>
<select name="mydropdown">
	<option value="english">ENGLISH</option>
	<option value="hindi">HINDI</option>
	<option value="tamil">TAMIL</option>
	<option value="kannada">KANNADA</option>
	<option value="telgu">TELUGU</option>
	<option value="bangla">BANGLA</option>
</select>
<label for="gvsng">Category* :</label>
<select name="mydropdown_0">
	<option value="non-gospel">Non-Gospel</option>
	<option value="gospel">Gospel</option>
	</select>
<label for="guitarchords">Guitar Chord* :</label>
<pre><textarea  name="guitarchords" ></textarea></pre><br>
 <span><input type="submit" value="Submit">   </span>
</form>
</div>

<P><br><br><br><br><br><br><br><br> NOTE: Do not upload anything Junk, this might result in the admin revoking your access to the site</p>
</div>

<div class = "footer">
	      <h3 class="float">&copy; 2014-15 The Guitar Club. All rights reserved.</h3>
	  <h5>Contact US</h5>
       <div id="footer_address">
        <p>Registered Office:<br/>
        Bangalore, Karnataka, <br/>
        India<br/>
        (not our trading address)</p>
      </div>

      <div class="footer-nav">
        <ul class = "pull-right">
          <li><a href="/home/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Software</a></li>
          <li><a href="#">Cookie Policy</a></li>
        </ul>
      </div>

</div>


</body>



	</html>