<html>
<title> Guitar Chords </title>
{% load staticfiles %}

<head>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'>
<link href="/static/style.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.js"></script>
   <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
 
    <script type="text/javascript" src="/static/app.js"></script>
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">

</head>
<body>      
<div class="nav">

		<!-- Menu icon -->
		<!--div class="icon-close"-->
		<!--img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png"-->
		<!--/div-->

		<!-- Menu -->

		<ul>
		<ul class = "pull-left">
		<li> <a href = "/catalog/">Logo The Guitar Club</a></li>
		</ul>
		<ul class = "pull-right">
		<li><a href="/catalog/">Home</a></li>
		<li><a href = "/learn_guitar/">Learn Guitar</a></li>
		<li><a href="/guitar_chords/">Guitar Chords</a></li>
		<li><a href="/gospel_guitar_page/">Gospel Guitar Chords</a></li>
		<li><a href="/upload_guitar_chords/">Upload Guitar Chords</a></li>
		<li><a href="#">Your Guitar Club</a></li>
		<li><a href="#">Contact</a></li>
		</ul>
		</ul>
	</div>
	<div class="jumbotron1">
		<div class = "searchbar">
			<form method="get" action="/search" id="search1">
				<input name="q" type="text" size="40" placeholder="Search chords..." />
			</form>
		</div>
		<p><strong>UPLOAD YOUR FAVOURITE SONGS/CHORDS HERE  </strong></p>
	</div>
	<div class = "songcontent_new_ug">
	<div class = "subcontent_upload">
	<br>

	<form name="htmlform" method="post" action="/capture_guitar_chords/">{%csrf_token%}
<label for="first_name">First Name* :</label>
<input  type="text" name="first_name" maxlength="50" size="30"><br>
<label for="last_name">Last Name* :</label>
<input  type="text" name="last_name" maxlength="50" size="30"><br>
<label for="email">Email Address* :</label>
<input  type="text" name="email" maxlength="80" size="30"><br>
<label for="songcategory">SongCategory* :</label>
<select name="mydropdown_0">
	<option value="gospel">Gospel</option>
	<option value="non-gospel">Non-Gospel</option>
</select>
<label for="category">Category* :</label>
<select name="mydropdown">
	<option value="english">English</option>
	<option value="hindi">Hindi</option>
	<option value="tamil">TAMIL</option>
	<option value="kannada">KANNADA</option>
	<option value="bangla">BANGLA</option>
</select>
<label for="songname">Song Name* :</label>
<input  type="text" name="songname" maxlength="80" size="30"><br>
<label for="albumname">Film / Artist Name* :</label>
<input  type="text" name="albumname" maxlength="80" size="30"><br>
<label for="guitarchords">Guitar Chord* :</label>
<pre><textarea  name="guitarchords" ></textarea></pre><br>
 <span><input type="submit" value="Submit">   </span>
</form>
</div>

<P><br><br><br><br><br><br><br><br> NOTE: Do not upload anything Junk, this might result in the admin revoking your access to the site</p>
</div>

<div class = "footer">
	      <h3 class="float">&copy; 2014-15 The Guitar Club. All rights reserved.</h3>
	  <h5>Contact US</h5>
       <div id="footer_address">
        <p>Registered Office:<br/>
        Level Two, The Old Malthouse, <br/>
        Clarence St,<br/>
        Bath BA1 5NS (not our trading address)</p>
      </div>
      
      <div class="footer-nav">
        <ul class = "pull-right">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/software">Software</a></li>
          <li><a href="/docs/cookies">Cookie Policy</a></li>
        </ul>
      </div>
      
</div>
</body>
</html>